<a href="https://colab.research.google.com/github/Alagammaipl/phonepe-project2/blob/main/phonepe_pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

Aggregated transactions statewise

In [ ]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    a=path+i+"/"
    Agg_yr=os.listdir(a)    
    for j in Agg_yr:
        b=a+j+"/"
        Agg_yr_list=os.listdir(b)        
        for k in Agg_yr_list:
            c=b+k
            Data=open(c,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
aggregated_transactions = pd.DataFrame(clm)
aggregated_transactions

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,puducherry,2021,4,Merchant payments,3052713,1.864952e+09
1,puducherry,2021,4,Peer-to-peer payments,2530821,8.113722e+09
2,puducherry,2021,4,Recharge & bill payments,762641,4.284532e+08
3,puducherry,2021,4,Financial Services,5995,7.655925e+06
4,puducherry,2021,4,Others,16640,8.868759e+06
...,...,...,...,...,...,...
3589,goa,2018,2,Recharge & bill payments,120943,3.099428e+07
3590,goa,2018,2,Peer-to-peer payments,87878,4.194922e+08
3591,goa,2018,2,Merchant payments,12456,2.016286e+07
3592,goa,2018,2,Financial Services,1903,7.334294e+05
3593,goa,2018,2,Others,6395,7.221024e+06

In [ ]:
aggregated_transactions['State'] = aggregated_transactions['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [ ]:
aggregated_transactions.Transaction_type.unique()

array(['Merchant payments', 'Peer-to-peer payments',
       'Recharge & bill payments', 'Financial Services', 'Others'],
      dtype=object)

Top transactions district and pincodewise

In [ ]:


import pandas as pd
import json
import os


path="/content/pulse/data/top/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

clm={'State':[], 'Year':[],'Quater':[],'district':[], 'count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['districts']:
              Name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm['district'].append(Name)
              clm['count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

#Succesfully created a dataframe
top_transactions_dis = pd.DataFrame(clm)
top_transactions_dis

           State  Year  Quater    district    count  Transaction_amount
0     puducherry  2021       4  puducherry  5606990        8.973637e+09
1     puducherry  2021       4       yanam   360182        7.048068e+08
2     puducherry  2021       4    karaikal   300601        5.863760e+08
3     puducherry  2021       4        mahe   101037        1.588323e+08
4     puducherry  2021       3  puducherry  4514763        7.530307e+09
...          ...   ...     ...         ...      ...                 ...
5915         goa  2018       3   south goa   144785        2.919027e+08
5916         goa  2018       1   north goa    95114        1.871083e+08
5917         goa  2018       1   south goa    65783        1.167485e+08
5918         goa  2018       2   north goa   133429        2.908149e+08
5919         goa  2018       2   south goa    96146        1.877889e+08

[5920 rows x 6 columns]

In [ ]:
import pandas as pd
import json
import os


path="/content/pulse/data/top/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

clm={'State':[], 'Year':[],'Quater':[],'pincode':[], 'count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
              Name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm['pincode'].append(Name)
              clm['count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
top_transactions_pincodes = pd.DataFrame(clm)
top_transactions_pincodes

           State  Year  Quater pincode    count  Transaction_amount
0     puducherry  2021       4  605002  2320004        3.824141e+09
1     puducherry  2021       4  605110   424922        6.846634e+08
2     puducherry  2021       4  533464   360182        7.048068e+08
3     puducherry  2021       4  605107   302520        4.606603e+08
4     puducherry  2021       4  605004   292666        5.106333e+08
...          ...   ...     ...     ...      ...                 ...
7134         goa  2018       2  403802     8562        2.235863e+07
7135         goa  2018       2  403507     8020        1.627246e+07
7136         goa  2018       2  403521     7639        1.722007e+07
7137         goa  2018       2  403804     6900        1.180439e+07
7138         goa  2018       2  403005     5665        1.161305e+07

[7139 rows x 6 columns]

In [ ]:
top_transactions_dis['State'] = top_transactions_dis['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [ ]:
top_transactions_pincodes['State'] = top_transactions_pincodes['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

map transactions

In [ ]:
import pandas as pd
import json
import os

path="/content/pulse/data/map/transaction/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list


clm={'State':[], 'Year':[],'Quater':[],'district':[], 'count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['district'].append(Name)
              clm['count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

#Succesfully created a dataframe
map_transactions = pd.DataFrame(clm)
map_transactions

,State,Year,Quater,district,count,Transaction_amount
0,puducherry,2021,4,karaikal district,300601,5.863760e+08
1,puducherry,2021,4,puducherry district,5606990,8.973637e+09
2,puducherry,2021,4,yanam district,360182,7.048068e+08
3,puducherry,2021,4,mahe district,101037,1.588323e+08
4,puducherry,2021,3,karaikal district,241468,5.084746e+08
...,...,...,...,...,...,...
14631,goa,2018,3,south goa district,144785,2.919027e+08
14632,goa,2018,1,north goa district,95114,1.871083e+08
14633,goa,2018,1,south goa district,65783,1.167485e+08
14634,goa,2018,2,north goa district,133429,2.908149e+08
14635,goa,2018,2,south goa district,96146,1.877889e+08

In [ ]:
map_transactions.shape

(14636, 6)

In [ ]:
map_transactions['State'] = map_transactions['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

Top users

In [ ]:
import pandas as pd
import json
import os

path="/content/pulse/data/top/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list


clm={'State':[], 'Year':[],'Quater':[],'district':[], 'registered_users':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['districts']:
              Name=z['name']
              registered_users=z['registeredUsers']
              clm['district'].append(Name)
              clm['registered_users'].append(registered_users)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

top_users_dis = pd.DataFrame(clm)
top_users_dis

           State  Year  Quater    district  registered_users
0     puducherry  2021       4  puducherry            354425
1     puducherry  2021       4    karaikal             41695
2     puducherry  2021       4       yanam             15809
3     puducherry  2021       4        mahe             11238
4     puducherry  2021       3  puducherry            332193
...          ...   ...     ...         ...               ...
5915         goa  2018       3   south goa             58495
5916         goa  2018       1   north goa             57769
5917         goa  2018       1   south goa             34167
5918         goa  2018       2   north goa             76192
5919         goa  2018       2   south goa             45982

[5920 rows x 5 columns]

In [ ]:
import pandas as pd
import json
import os

path="/content/pulse/data/top/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list


clm={'State':[], 'Year':[],'Quater':[],'pincode':[], 'registered_users':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for y in D['data']['pincodes']:
              Name=y['name']
              registered_users=y['registeredUsers']
              clm['pincode'].append(Name)
              clm['registered_users'].append(registered_users)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
top_users_pin = pd.DataFrame(clm)
top_users_pin

           State  Year  Quater pincode  registered_users
0     puducherry  2021       4  605110             48727
1     puducherry  2021       4  605107             35995
2     puducherry  2021       4  605008             33154
3     puducherry  2021       4  605004             32915
4     puducherry  2021       4  605009             27171
...          ...   ...     ...     ...               ...
7135         goa  2018       2  403802              5119
7136         goa  2018       2  403507              4991
7137         goa  2018       2  403521              3804
7138         goa  2018       2  403515              3277
7139         goa  2018       2  403509              3077

[7140 rows x 5 columns]

In [ ]:
top_users_dis['State'] = top_users_dis['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [ ]:
top_users_pin['State'] = top_users_pin['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

**Map Users**

In [ ]:
import pandas as pd
import json
import os


path="/content/pulse/data/map/user/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list


clm={'State':[], 'Year':[],'Quater':[],'district':[], 'registered_users':[], 'appOpens' :[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverData']:
              district = z
              registerdUsers = D['data']['hoverData'][z]['registeredUsers']
              appOpens = D['data']['hoverData'][z]['appOpens']
              clm['district'].append(district)
              clm['registered_users'].append(registerdUsers)
              clm['appOpens'].append(appOpens)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe

map_users = pd.DataFrame(clm)
map_users

,State,Year,Quater,district,registered_users,appOpens
0,puducherry,2021,4,karaikal district,41695,1155805
1,puducherry,2021,4,puducherry district,354425,11785427
2,puducherry,2021,4,yanam district,15809,1029025
3,puducherry,2021,4,mahe district,11238,287311
4,puducherry,2021,3,karaikal district,39011,657821
...,...,...,...,...,...,...
14635,goa,2018,3,south goa district,58495,0
14636,goa,2018,1,north goa district,57769,0
14637,goa,2018,1,south goa district,34167,0
14638,goa,2018,2,north goa district,76192,0
14639,goa,2018,2,south goa district,45982,0

In [ ]:
map_users['State'] = map_users['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

Aggregated users

In [ ]:
import pandas as pd
import json
import os


path="/content/pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

x = []
clm={'State':[], 'Year':[],'Quater':[],'appOpens':[], 'registered_users':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            registered_users= D['data']['aggregated']['registeredUsers']
            appOpens = D['data']['aggregated']['appOpens']
            clm['appOpens'].append(appOpens)
            clm['registered_users'].append(registered_users)
            clm['State'].append(i)
            clm['Year'].append(j)
            clm['Quater'].append(int(k.strip('.json')))

#Succesfully created a dataframe
agg_users = pd.DataFrame(clm)
agg_users

          State  Year  Quater  appOpens  registered_users
0    puducherry  2021       4  14257568            423167
1    puducherry  2021       3   6899592            396609
2    puducherry  2021       1   7914507            346279
3    puducherry  2021       2   5178916            369961
4    puducherry  2022       4  24144184            520649
..          ...   ...     ...       ...               ...
715         goa  2020       2   5310126            430639
716         goa  2018       4         0            195350
717         goa  2018       3         0            153802
718         goa  2018       1         0             91936
719         goa  2018       2         0            122174

[720 rows x 5 columns]

In [ ]:
agg_users['State'] = agg_users['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

In [ ]:
fig = px.choropleth(agg_users,
                        geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                        featureidkey='properties.ST_NM',
                        locations='State',color='registered_users',hover_data =['appOpens', 'State'],projection="mercator",
                        color_continuous_scale='plotly3')
fig.update_geos(fitbounds="locations", visible = False)
fig.show()

In [ ]:
import pandas as pd
import json
import os


path="/content/pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

x = []
clm={'State':[], 'Year':[],'Quater':[], 'brand':[], 'count':[], 'percentage':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            if D['data']['usersByDevice'] is None:
              continue

            for z in D['data']['usersByDevice']:
              brand= z['brand']
              count= z['count']
              percentage= z['percentage']
              clm['brand'].append(brand)
              clm['count'].append(count)
              clm['percentage'].append(percentage)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))

#Succesfully created a dataframe
agg_usersbydevice = pd.DataFrame(clm)
agg_usersbydevice

           State  Year  Quater     brand  count  percentage
0     puducherry  2021       4    Xiaomi  95031    0.224571
1     puducherry  2021       4      Vivo  91633    0.216541
2     puducherry  2021       4   Samsung  78438    0.185359
3     puducherry  2021       4      Oppo  47542    0.112348
4     puducherry  2021       4    Realme  26683    0.063055
...          ...   ...     ...       ...    ...         ...
6727         goa  2018       2  Motorola   5508    0.045083
6728         goa  2018       2    Realme   5427    0.044420
6729         goa  2018       2    Lenovo   3352    0.027436
6730         goa  2018       2    Huawei   2237    0.018310
6731         goa  2018       2    Others  12693    0.103893

[6732 rows x 6 columns]

In [ ]:
agg_usersbydevice['State'] = agg_usersbydevice['State'].replace({'andaman-&-nicobar-islands': 'Andaman & Nicobar Island','andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh',
       'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh',
       'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi': 'Delhi', 'goa':'Goa', 'gujarat': 'Gujarat',
       'haryana':'Haryana','himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
       'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
       'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland',
       'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim',
       'tamil-nadu': 'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
       'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'})

***SQL Database creation and storing data in it***

In [ ]:
from sqlalchemy import create_engine

In [ ]:
import sqlite3

conn = sqlite3.connect('my_database.db')

aggregated_transactions.to_sql('aggregated_transactions', conn, if_exists='replace', index=False)
map_transactions.to_sql('map_transactions', conn, if_exists='replace', index=False)
top_transactions_dis.to_sql('top_transactions_dis', conn, if_exists='replace', index=False)
top_transactions_pincodes.to_sql('top_transactions_pincodes', conn, if_exists='replace', index=False)
map_users.to_sql('map_users', conn, if_exists='replace', index=False)
top_users_dis.to_sql('top_users_dis', conn, if_exists='replace', index=False)
top_users_pin.to_sql('top_users_pin', conn, if_exists='replace', index=False)
agg_users.to_sql('agg_users',conn, if_exists='replace', index=False)
agg_usersbydevice.to_sql('agg_usersbydevice', conn, if_exists='replace', index=False)

conn.commit()

conn.close()

***Streamlit ***

In [ ]:
!pip install -q streamlit
     

!pip install streamlit -q
     

!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyngrok in /usr/local/lib/python3.8/dist-packages (5.2.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)

In [ ]:
from pyngrok import ngrok

In [ ]:
ngrok.set_auth_token('2LrTbuznjlyxU0yl7NCdesMPNDA_3hrmEq5efKaprBahEmNxW')

In [ ]:

!nohup streamlit run app.py --server.port 80 &

nohup: appending output to 'nohup.out'

In [ ]:
ngrok.connect(port = '8080')

In [ ]:
%%writefile app.py

#importing needed modules

import streamlit as st
import numpy as np
import pandas as pd
import json
import sqlite3
import plotly.express as px

#establishing sql connection
conn = sqlite3.connect('my_database.db')

#extracting data from mysql database

aggregated_transactions = pd.read_sql_query("select * FROM aggregated_transactions", conn)
top_transactions_dis = pd.read_sql_query("select * FROM top_transactions_dis", conn)
top_transactions_pincodes = pd.read_sql_query("select * FROM top_transactions_pincodes", conn)
map_transactions = pd.read_sql_query("select * FROM map_transactions", conn)
map_users = pd.read_sql_query("select * FROM map_users", conn)
top_users_dis = pd.read_sql_query("select * FROM top_users_dis", conn)
top_users_pin = pd.read_sql_query("select * FROM top_users_pin", conn)
agg_users = pd.read_sql_query("select * FROM agg_users", conn)
agg_usersbydevice = pd.read_sql_query("select * FROM agg_usersbydevice", conn)
conn.commit()

#creating heading

st.title("**_PhonePe Pulse Data Visualization_**")
st.caption("This app is an user-interactive data Visualization")



#creating sidebar with selectboxes to filter data acordingly

st.sidebar.title("Filters")
x = st.sidebar.selectbox("All India or Statewise", ("All india", "Statewise"))
a = st.sidebar.selectbox('Select transactions or users', ('Transactions', 'Users'))
y = st.sidebar.selectbox("Data quaterwise or overall", ("Overall", "quaterwise"))

# all india Transactions


if x == "All india":
 if a == "Transactions":
   if y == "quaterwise":
     b = st.sidebar.selectbox('year', ('2018', '2019', '2020', '2021', '2022'))
     c = st.sidebar.selectbox('Quartile', ('1', '2', '3', '4'))
     col1,col2,col3 = st.columns(3)
     aggtran =aggregated_transactions[aggregated_transactions['Year'] == b]
     aggtrans = aggtran[aggtran['Quater'] == int(c)]
     with col1:
       st.header("**Transactions**")
       st.write("Total transactions", aggtrans.Transaction_count.sum())
       st.write("Total payment", aggtrans.Transaction_amount.sum())
       st.write("Avg payment per transaction",aggtrans.Transaction_amount.sum()/aggtrans.Transaction_count.sum())
     e = aggtrans.Transaction_type.unique()
     with col2:
       st.write()
     with col3:
       st.header("_Categories_")
       for i in range (len(e)):
         u = aggtrans[aggtrans['Transaction_type'] == e[i]]
         st.write(e[i], u.Transaction_count.sum())
    
     st.write("**Geo-visualization**")     
     fig = px.choropleth(aggtrans,
                        geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                        featureidkey='properties.ST_NM',
                        locations='State',color='Transaction_amount',hover_data =['Transaction_count', 'State'],projection="mercator",
                        color_continuous_scale='plotly3')
     fig.update_geos(fitbounds="locations", visible = False)
     st.plotly_chart(fig, theme = "streamlit")
   else:
      col1,col2,col3 = st.columns(3)
      with col1:
       st.header("**Transactions**")
       st.write("Total transactions", aggregated_transactions.Transaction_count.sum())
       st.write("Total payment", aggregated_transactions.Transaction_amount.sum())
       st.write("Avg payment per transaction",aggregated_transactions.Transaction_amount.sum()/aggregated_transactions.Transaction_count.sum())
       e = aggregated_transactions.Transaction_type.unique()
      with col2:
       st.write()
      with col3:
       st.header("_Categories_")
       for i in range (len(e)):
         u = aggregated_transactions[aggregated_transactions['Transaction_type'] == e[i]]
         st.write(e[i], u.Transaction_count.sum())



# users all india




 else:
   if y == "quaterwise":
     b = st.sidebar.selectbox('year', ('2018', '2019', '2020', '2021', '2022'))
     c = st.sidebar.selectbox('Quartile', ('1', '2', '3', '4'))
     agguse =agg_users[agg_users['Year'] == b]
     aggus = agguse[agguse['Quater'] == int(c)]
     st.write("Total no of app opens:",aggus.appOpens.sum())
     st.write("Total newly registered users", aggus.registered_users.sum())
     fig = px.choropleth(aggus,
                        geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                        featureidkey='properties.ST_NM',
                        locations='State',color='registered_users',hover_data =['appOpens', 'State'],projection="mercator",
                        color_continuous_scale='plotly3')
     fig.update_geos(fitbounds="locations", visible = False)
     st.plotly_chart(fig, theme = "streamlit")
   else:
     st.write("Total no of app opens:",agg_users.appOpens.sum())
     st.write("Total newly registered users", agg_users.registered_users.sum())




   
# statewisetransactions



if x == "Statewise":
  f = st.sidebar.selectbox("Select a state", ['Jharkhand', 'Tamil Nadu', 'West Bengal', 'Nagaland', 'Gujarat',
       'Telangana', 'Karnataka', 'Sikkim', 'Goa', 'Delhi', 'Haryana',
       'Ladakh', 'Odisha', 'Lakshadweep', 'Maharashtra',
       'Dadra and Nagar Haveli and Daman and Diu', 'Punjab', 'Puducherry',
       'Tripura', 'Arunachal Pradesh', 'Manipur',
       'Andaman & Nicobar Island', 'Himachal Pradesh', 'Madhya Pradesh',
       'Mizoram', 'Kerala', 'Chhattisgarh', 'Chandigarh',
       'Jammu & Kashmir', 'Meghalaya', 'Uttarakhand', 'Rajasthan',
       'Bihar', 'Andhra Pradesh', 'Assam', 'Uttar Pradesh'])

  if a == "Transactions":
    if y == "quaterwise":
      b = st.sidebar.selectbox('year', ('2018', '2019', '2020', '2021', '2022'))
      c = st.sidebar.selectbox('Quartile', ('1', '2', '3', '4'))
      tab1, tab2 = st.tabs(["overall", "districts"])
      with tab1:
       col1,col2,col3 = st.columns(3)
       aggtran =aggregated_transactions[aggregated_transactions['Year'] == b]
       aggtrans = aggtran[aggtran['Quater'] == int(c)]
       aggst = aggtrans[aggtrans['State'] == f]

       toptran = top_transactions_dis [top_transactions_dis['Year'] == b]
       toptrans = toptran[toptran['Quater'] == int(c)]
       topst = toptrans[toptrans['State'] == f]
       toptra = topst.drop(['Year', 'Quater', 'State'], axis = 1)
      
       toptranp = top_transactions_pincodes [top_transactions_pincodes['Year'] == b]
       toptransp = toptranp[toptranp['Quater'] == int(c)]
       topstp = toptransp[toptransp['State'] == f]
       toptrap = topstp.drop(['Year', 'Quater', 'State'], axis = 1)
      
       maptrans = map_transactions[map_transactions['Year'] == b]
       maptran = maptrans[maptrans['Quater'] == int(c)]
       mapst = maptran[maptran['State'] == f]
       maptra = mapst.drop(['Year', 'Quater', 'State'], axis = 1)
       with col1:
        st.header("**Transactions**")
        st.write("Total transactions", aggst.Transaction_count.sum())
        st.write("Total payment", aggst.Transaction_amount.sum())
        st.write("Avg payment per transaction",aggst.Transaction_amount.sum()/aggtrans.Transaction_count.sum())
       with col2:
        st.write()
       with col3:
        st.header("_Categories_")
        e = aggtrans.Transaction_type.unique()
        for i in range (len(e)):
           u = aggtrans[aggtrans['Transaction_type'] == e[i]]
           st.write(e[i], u.Transaction_count.sum())
       col1, col2 = st.columns(2)
       with col1:
         st.write("_Top 10 Districts_")
         st.write(toptra)
       with col2:
         st.write("_Top 10 Pincodes_")
         st.write(toptrap)
      with tab2:
        st.write(maptra)
    else:
      col1,col2,col3 = st.columns(3)
      with col1:
       aggregated_transactions = aggregated_transactions[aggregated_transactions['State'] == f]
       st.header("**Transactions**")
       st.write("Total transactions", aggregated_transactions.Transaction_count.sum())
       st.write("Total payment", aggregated_transactions.Transaction_amount.sum())
       st.write("Avg payment per transaction", aggregated_transactions.Transaction_amount.sum()/aggregated_transactions.Transaction_count.sum())
      with col2:
        st.write()
      with col3:
        st.header("_Categories_")
        e = aggregated_transactions.Transaction_type.unique()
        for i in range (len(e)):
          u = aggregated_transactions[aggregated_transactions['Transaction_type'] == e[i]]
          st.write(e[i], u.Transaction_count.sum())



#Statewise users


  else:
    if y == "quaterwise":
      b = st.sidebar.selectbox('year', ('2018', '2019', '2020', '2021', '2022'))
      c = st.sidebar.selectbox('Quartile', ('1', '2', '3', '4'))
      agguse =agg_users[agg_users['Year'] == b]
      aggus = agguse[agguse['Quater'] == int(c)]
      aggstus = aggus[aggus['State'] == f]

      topuse =top_users_dis[top_users_dis['Year'] == b]
      topus = topuse[topuse['Quater'] == int(c)]
      topstus = topus[topus['State'] == f]
      topstus = topstus.drop(['Year', 'State', 'Quater'], axis = 1)

      topusep =top_users_pin[top_users_pin['Year'] == b]
      topusp = topusep[topusep['Quater'] == int(c)]
      topstusp = topusp[topusp['State'] == f]
      topstusp = topstusp.drop(['Year', 'State', 'Quater'], axis = 1)

      mapuse =map_users[map_users['Year'] == b]
      mapus = mapuse[mapuse['Quater'] == int(c)]
      mapstus = mapus[mapus['State'] == f]
      mapstus = mapstus.drop(['Year', 'State', 'Quater'], axis = 1)
      tab1,tab2 = st.tabs(["overall", "districts"])

      with tab1:
       st.write("Total no of app opens",aggstus.appOpens.sum())
       st.write("Total newly registered users", aggstus.registered_users.sum())
       col1,col2 = st.columns(2)
       with col1:
        st.write("_Top 10 Districts_")
        st.write(topstus)
       with col2:
        st.write("_Top 10 pincodes_")
        st.write(topstusp)
      with tab2:
       st.write(mapstus)
    else:
      aggst = agg_users[agg_users['State'] == f]
      st.write("Total no of app opens till 2022",aggst.appOpens.sum())
      st.write("Total registered users till 2022", aggst.registered_users.sum())

Overwriting app.py